// Paleta monocromatica
$negro: #000000;
$grisoscuro: #373737;
$gris: #666666;
$grisclaro: #b6b6b6;
$blanco: #ffffff;

// Anchos
$anchoCompleto: 100vw;
$anchoUnTercio: 33vw;
$anchoUnMedio: 50vw;


$filtroMasculino: false;
$filtroFemenino: false;
